.receipt {
  display: flex;
  gap: 40px;
}

.receiptLeft {
  min-width: 400px;
  max-width: 400px;
  /* width: 50%; */
}

.boxItems {
  /* width: 100%; */
  min-width: 200px;
  max-width: 300px;
  border: 1.5px solid #064e3b;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

@media (max-width: 700px) {
  .receipt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .receiptLeft {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .boxItems {
    max-width: 100%;
    width: 100%;
  }
}
