.receipt {
  display: flex;
  gap: 40px;
}

.receiptLeft {
  width: 50%;
  min-width: 400px;
  max-width: 450px;
}

.boxes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  max-width: 250px;
  background-color: white;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.boxContainer {
  width: 100%;
}

@media (max-width: 800px) {
  .receipt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .receiptLeft {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .box {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .boxes {
    display: flex;
  }
  .box {
    width: 100%;
    max-width: 100%;
  }
}
