.receiptContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.receiptTypes {
  display: flex;
  width: 100%;
  gap: 15px;
}

.receiptInputs {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imageInput {
  min-width: 300px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.imageSize {
  height: 300px;
}

@media (max-width: 800px) {
  .receiptContainer {
    justify-content: center;
  }
  .receipt-types {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .imageSize {
    height: 130px;
  }
  .receiptContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .receiptInputs {
    min-width: 100%;
  }
  .imageInput {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}
