.receiptTypes {
  display: flex;
  width: 100%;
  gap: 15px;
}

.twoTab {
  display: flex;
  gap: 30px;
}
.leftTab {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  max-width: 400px;
  flex-shrink: 0;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .receipt-types {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .twoTab {
    display: flex;
    gap: 40px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .leftTab {
    display: flex;
    border-right: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .leftTab {
    display: flex;
    border-right: none;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 800px;
  }
}
