.layout {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
}

.icon {
  display: none;
}

.smallheader {
  display: none;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .icon {
    cursor: pointer;
    display: block;
  }
  .smallheader {
    display: flex;
  }
}
