.layout {
  display: flex;
}

.menu {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
}

.icon {
  display: none;
}

.button {
  display: none;
}

.smallheader {
  display: none;
}

.modal {
  display: none;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .icon {
    cursor: pointer;
    display: block;
  }
  .smallheader {
    display: flex;
  }
  .button {
    display: block;
  }
  .modal {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* black with 20% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
}
