.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* background-color: white;
  padding: 15px;
  border-radius: 10px; */
}

.dot {
  display: block;
}

.mobileDot {
  display: none;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
  .dot {
    display: none;
    margin-right: 0;
  }
  .mobileDot {
    display: block;
  }
}
