.receipts {
  display: flex;
  gap: 50px;
}

.receiptBar {
  width: 100%;
}

.preview {
  background-color: white;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
}
@media (max-width: 800px) {
  .receipts {
    flex-direction: column;
  }
  .receiptBar {
    width: 100%;
  }
}
