.receipts {
  display: flex;
  gap: 50px;
}

.receiptBar {
  width: 100%;
}

.receipt {
  display: flex;
  gap: 40px;
}

.receiptLeft {
  width: 50%;
  min-width: 320px;
  max-width: 450px;

  border-radius: 8px;
}

.boxes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.box {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.preview {
  background-color: white;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
}
@media (max-width: 800px) {
  .receipts {
    flex-direction: column;
  }
  .receiptBar {
    width: 100%;
  }
  .box {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .receipt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .receiptLeft {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}
