@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1200px) {
  /* Adjust for medium screens */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* Adjust for smaller screens */
  .grid {
    grid-template-columns: 1fr;
  }
}

.bg {
  background-color: #e2f1e2;
}
