@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.line-input {
  border-bottom: 1.5px solid rgb(20 83 45);
  border-radius: none;
  outline: none;
  background-color: #e2f1e2;
  color: rgb(20 83 45);
  width: 100%;
  border-radius: 0;
}
input::placeholder {
  color: rgb(20 83 45);
}
img {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 0, 0);
  transition: background-color 5000s ease-in-out 0s;
  background-color: #e2f1e2;
}

input:-webkit-autofill::first-line {
  font-family: inherit;
  font-size: inherit;
  color: black !important;
}

.bg {
  background-color: #e2f1e2;
}

.buttons-margin {
  margin-bottom: none;
}

.navbarItems {
  display: inline;
}

.searchBar {
  border: 1.5px solid black;
  width: 100%;
  background-color: #e2f1e2;
  border-radius: 8px;
  padding: 6px;
  outline: none;
  margin-bottom: 40px;
}

.navbarMobile {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receipts {
  display: flex;
  gap: 30px;
}

.two-tab {
  display: flex;
  gap: 30px;
}
.left-tab {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  max-width: 400px;
  flex-shrink: 0;
  padding-bottom: 50px;
}
.mobile-form-items {
  display: none;
}

.receipt-bar {
  width: 300px;
}

.receipt-grid {
  width: 75%;
}
.preview {
  width: 100%;
  border-left: 1.5px solid rgb(20 83 45);
  padding-left: 16px;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  flex-grow: 1;
}

.box-style {
  position: absolute;
  border: 2px solid red;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for close button */
.close-button-style {
  align-self: flex-end;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

/* CSS for scanner */
.scanner-style {
  background-color: black;
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1300px) {
  /* Adjust for medium screens */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .receipt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .preview {
    border-left: none;
    padding-left: 0px;
    height: auto;
    min-height: auto;
  }
  .header {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    /* align-items: center; */
  }
  .receipts {
    flex-direction: column;
  }

  .receipt-bar {
    width: 100%;
  }
  .receipt-grid {
    width: 100%;
  }
  .navbarMobile {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1.5px solid rgb(20 83 45);
    width: 100%;
    background-color: white;
    padding: 16px;
    justify-content: space-between;
    z-index: 1000;
  }
  .navbarItems {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .two-tab {
    display: flex;
    gap: 40px;
    flex-direction: column;
    position: relative;
  }
  .left-tab {
    display: flex;
    border-right: none;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 800px;
  }
  .mobile-form-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .buttons-margin {
    margin-bottom: 300px;
  }
}

@media (max-width: 1000px) {
  .receipt-grid {
    grid-template-columns: 1fr;
  }
}
